<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>BookingAPI</servlet-name>
        <servlet-class>com.bds.controller.BookingController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookingAPI</servlet-name>
        <url-pattern>/api/booking/request</url-pattern>
    </servlet-mapping>

</web-app>